{% extends 'core/main.html' %} {% block content %} {% load static %}

<section>
  <div class="container d-flex justify-content-center align-item-center">
    <form
      action=""
      method="post"
      class="row mt-5 pt-5 mb-5 justify-content-center"
    >
      {% csrf_token %}
      <div
        class="col col-lg-10 col-md-10 text-center bg-secondary py-4"
        style="border-radius: 10px"
      >
        <h2 class="text-center mt-2 pt-1 text-light">Login</h2>

        <div class="row mt-5 justify-content-center">
          <div class="row w-75">
            <div class="col">
              <label for="username" class="h4 text-light"> Username </label>
            </div>
            <div class="col-7">{{ form.username }}</div>
          </div>

          <div class="row w-75 mt-4">
            <div class="col">
              <label for="password" class="h4 text-light">Password</label>
            </div>
            <div class="col-7">{{ form.password }}</div>
          </div>
        </div>

        <button type="submit" class="btn btn-lg btn-dark w-25 my-5">
          Login
        </button>
      </div>
    </form>
  </div>
</section>

<br />
<br />

{% endblock%}
